.card {
  background-color: blue;
  padding: 70px 2px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 300px 300px 300px 300px;
}
